.baseInfo{
    display: flex;

    &__detail{
        flex: 1;
    }

    &__poster{
        width: 100px;
        height: 150px;
        background-size: cover;
    }

    &__name{
        font-size: 18px;
        color: #fff;
        line-height: 28px;
        margin: 0 0 8px;
    }
 
    &__subTitle,
    &__other{
        color: rgba(#fff, 0.6);
        font-size: 14px;
    }

    &__subTitle{
        margin-bottom: 10px;
    }

    &__other{
        margin-top: 6px;
    }
}
