.star {
  display: inline-block;
  background: url("../icons/star-o.svg") 0 50%/contain repeat; }
  .star .starTop {
    height: 100%;
    background: url("../icons/star.svg") 0 50%/contain repeat; }
