.user {
  background: #fff; }
  .user__top {
    background-color: #313440;
    color: #fff;
    padding: 10px 20px 30px; }
  .user__info {
    display: flex;
    margin-top: 30px; }
  .user__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 20px;
    background-size: cover; }
  .user__detail {
    flex: 1;
    overflow: hidden; }
  .user__name {
    font-size: 20px;
    line-height: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .user__fellow, .user__fans {
    font-size: 12px;
    margin-bottom: 10px; }
  .user__level {
    width: 50px;
    text-align: center;
    padding: 0 8px;
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
    background-color: #5A5E78;
    border-radius: 8px; }
  .user__content {
    margin: 0 20px; }
